<h1>Comments#index</h1>

  <%= render partial: "shared/scenario", locals: { post: @post } %>

<%= form_with model: @comment, url: post_comments_path, class: 'comment-new-main', local: true do |f| %>
  <%= render "shared/error_messages", model: f.object %>

  <div class="field">
    <%= f.label "評価コメント" %><br />
    <%= f.text_area :comment, placeholder: "" %>
  </div>

   <div class="sell-btn-contents">
    <%= f.submit "投稿する" ,class:"post-btn" %>
    <%=link_to 'もどる', post_path(@post), class:"back-btn" %>
  </div>
<% end %>