<h1>Comments#index</h1>
  <%= render partial: "shared/scenario", locals: { post: @post } %>

<%= form_with model: @comment, url: post_comments_path, class: 'comment-new-main', local: true do |f| %>
  
  <%= render partial: "shared/comment_form", locals: { f: f } %>

  <div class="sell-btn-contents">
    <%= f.submit "投稿する" ,class:"post-btn" %>
    <%=link_to 'もどる', post_path(@post), class:"back-btn" %>
  </div>
<% end %>