<div class='main-body'>
  <%= render "shared/side_header" %>
  
  <%= render partial: "shared/menus/post_show", locals: { post: @post } %>
  
  <div class='main'>
    <%= render partial: "shared/top_header/pt_name", locals: { post: @post } %>

    <div class='post-show'>
      <div class="post-info">
       <%= render partial: "shared/scenario", locals: { post: @post } %>
      </div>
      <div class='comment-index'>
        <div>
          <%= @comment.created_at.strftime('%Y/%m/%d')  %>
          <%= @comment.user.nickname %><br/><br/>
          <%= simple_format(@comment.comment) %>
        </div>

        <div class="comment-edit">
          <% if user_signed_in? %> 
            <% if current_user.id == @comment.user_id %>
               <%= link_to edit_post_comment_path(@post, @comment) do %>
                <%= image_tag("フリーのギアアイコン.png", alt: "シナリオ", class: "header-icon") %> 編集
              <% end %>
              <%= link_to post_comment_path(@post, @comment), data: { turbo_method: :delete, turbo_confirm: "コメントを削除しますか？"} do %>
                <%= image_tag("ごみ箱のフリーアイコン.png", alt: "シナリオ", class: "header-icon") %> 削除
              <% end %>
            <% end %>
          <% end %>
          <%=link_to 'もどる', post_path(@post), class:"back-btn" %>
        </div>
      </div>
    </div>
      <%= render "shared/footer"%>
  </div>
</div>
