<h1>Comments#show</h1>

  <%= render partial: "shared/scenario", locals: { post: @post } %>

<div class="">
  <p>評価コメント：<%= @comment.updated_at%></p>
  <%= @comment.comment %>
</div>

<div>
  <% if user_signed_in? %> 
    <% if current_user.id == @comment.user_id %>
      <%= link_to "コメントの編集", edit_post_comment_path(@post, @comment) %>
      <%= link_to "コメントの削除", post_comment_path(@post, @comment), data: { turbo_method: :delete, turbo_confirm: "コメントを削除しますか？"} %>
    <% end %>
  <% end %>
</div>

<%=link_to 'もどる', post_path(@post), class:"back-btn" %>

