<div class='menus'>
  <div class='menu-top'>
    <%= link_to image_tag("Fast.png", alt: "Fast", class: "logo-icon"), root_path %>
  </div>
  
  <div class='menu'>
    <div class='post-images'>
      <% if post.images.attached? %>
        <%= link_to post.images[0] do %>
          <%= image_tag "肺のアイコン素材 4 (1).png", class: "image-icon" %>
          <%= post.images[0].filename if post.images[0] %>
        <% end %>
        <%= link_to post.images[1] do %>
          <%= image_tag "ハートの心電図のアイコン素材 2.png", class: "image-icon" %>
          <%= post.images[1].filename if post.images[1] %>
        <% end %>
        <%= link_to post.images[2] do %>
          <%= image_tag "水滴アイコン4.png", class: "image-icon" %>
          <%= post.images[2].filename if post.images[2] %>
        <% end %>
        <%= link_to post.images[3] do %>
          <%= image_tag "献血アイコン1 (1).png", class: "image-icon" %>
          <%= post.images[3].filename if post.images[3] %>
        <% end %>
        <%= link_to post.images[4] do %>
          <%= image_tag "電波、ビーコンのアイコン.png", class: "image-icon" %>
          <%= post.images[4].filename if post.images[4] %>
        <% end %>
      <% end %>
    </div>

    <div class='menu-editor'>
      <%=link_to 'もどる', post_path(@post), data: { turbo_method: :get, turbo_confirm: "シナリオを中止しますか？ 中止するとコメントが失われます！" }  %>
    </div>
  </div>
</div>