<div class='menus'>
  <div class='menu-top'>
    <%= link_to image_tag("Fast.png", alt: "Fast", class: "logo-icon"), root_path %>
  </div>
  
  <div class='menu'>
    <%= link_to new_post_path, class: "new-post" do %>
      <%= image_tag("メモ帳、書類のアイコン素材 その3 (1).png", alt: "メモ帳のフリーアイコン素材", class: "image-icon") %>
      NEW
    <% end %>  
    <%= link_to search_posts_path, class: "new-post" do %>
      <%= image_tag("検索用の虫眼鏡アイコン素材.png", alt: "検索用の虫眼鏡アイコン", class: "image-icon") %>
      SEARCH
    <% end %> 
    <%= form_with(url: search_posts_path, local: true, method: :get) do |form| %>
      <%= select_tag :title_id, options_from_collection_for_select(Title.all, :id, :name, params[:title_id]), include_blank: "すべて" , class:"search-input" %>
      <div class="btn-contents">
        <%= form.submit "検索" %>
      </div>
    <% end %>
  </div>
</div>