<div class='main-body'>
  <%= render "shared/side_header/user_show" %>
  
  <div class='menus'>
    <%= render "shared/menus/user_show"%>
  </div>
  
  <div class='main'>
    <%= render "shared/top_header/user_page" %>

    <div class="user-show">
      <div class='top-page-image'>
        <%= image_tag("fast_picture.jpg", class: "user-image") %>
      </div>
      <div class='create-scenario'>
        <h1><%= current_user.nickname %> が投稿したシナリオ</h1>
        <% if current_user.posts.any? %>
          <ul class='user-lists'>
            <% current_user.posts.each do |post| %>
              <li class='user-list'>
                <%= link_to post_path(post) do %>
                  <%= post.symptom %>
                  <%= post.title.name %>
                <% end %>
                <div>
                  <%= image_tag("ハートのアイコン素材 1 (青).png", class: "liked-icon") %>
                  ×<%= post.likes.count%>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>投稿したシナリオはありません。</p>
        <% end %>
      </div>
        
      <div class="like-scenario">
        <h1><%= current_user.nickname %> がいいねしたシナリオ</h1>
        <% if current_user.likes.any? %>
          <ul class='user-lists'>
            <% current_user.likes.each do |like| %>
              <li class='user-list'>
                <%= link_to post_path(like.post) do %>
                  <%= like.post.symptom %>
                  <%= like.post.title.name %>
                <% end %>
                <%= like.post.user.nickname%>
              </li>
            <% end %>
          </ul>
          <% else %>
            <p>いいねしたシナリオはありません。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>