
<div class='logo'>
  <%= link_to image_tag("Fast.png", alt: "Fast", class: "logo-icon"), root_path %>
</div>

<div class='main-form'>
  <div class='basic-form'>
    <div class="field">
      <%= f.label "タイトル" %><span class="indispensable">必須</span><br />
      <%= f.text_area :title, placeholder: "胸痛の鑑別" %>
    </div>

    <div class="field">
      <%= f.label "疾患名" %><span class="indispensable">必須</span><br />
      <%= f.text_area :disease, placeholder: "心筋梗塞" %>
    </div>

    <div class="field">
      <%= f.label "患者名" %><span class="indispensable">必須</span><br />
      <%= f.text_area :name, placeholder: "山田 太郎" %>
    </div>
    
    <div class="field">
      <%= f.label "年齢" %><span class="indispensable">必須</span><br />
      <%= f.text_field :age, placeholder: "0～100" %>
    </div>

    <div class="field">
      <%= f.label "性別" %><span class="indispensable">必須</span><br />
      <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select-box"}) %>
    </div>

    <div class="field">
      <%= f.label "同乗者/キーパーソン" %><span class="indispensable">必須</span><br />
      <%= f.text_area :family, placeholder: "同乗：友人　key:長男" %>
    </div>
  </div>

  <div class='ample-form'>
    <div class="field">
      <%= f.label "アレルギー" %><span class="indispensable">必須</span><br />
      <%= f.text_area :allergy, placeholder: "エビ 花粉 イソジン" %>
    </div>

    <div class="field">
      <%= f.label "服薬歴" %><span class="indispensable">必須</span><br />
      <%= f.text_area :medicine, placeholder: "アムロジピン" %>
    </div>

    <div class="field">
      <%= f.label "既往歴" %><span class="indispensable">必須</span><br />
      <%= f.text_area :past_history, placeholder: "高血圧" %>
    </div>

    <div class="field">
      <%= f.label "最終飲食" %><span class="indispensable">必須</span><br />
      <%= f.text_area :last_meal, placeholder: "うどん 12時" %>
    </div>

    <div class="field">
      <%= f.label "危険因子" %><span class="indispensable">必須</span><br />
      <%= f.text_area :risk_factor, placeholder: "タバコ×20本/日" %>
    </div>

    <div class="field">
      <%= f.label "その他" %><br />
      <%= f.text_area :others, placeholder: "補足情報" %>
    </div>
  </div>

  <div class='abcd-form'>
    <div class="field">
      <%= f.label "主訴" %><span class="indispensable">必須</span><br />
      <%= f.text_area :symptom, placeholder: "胸が痛い" %>
    </div>

    <div class="event-field">
      <%= f.label "現病歴" %><span class="indispensable">必須</span><br />
      <%= f.text_area :event, placeholder: "いつ どこで どうなった 誰が119した？" %>
    </div>

    <div class="field">
      <%= f.label "A:気道" %><span class="indispensable">必須</span><br />
      <%= f.text_area :airway, placeholder: "発語あり" %>
    </div>

    <div class="field">
      <%= f.label "B:呼吸" %><span class="indispensable">必須</span><br />
      <%= f.text_area :breathing, placeholder: "呼吸正常" %>
    </div>

    <div class="field">
      <%= f.label "C:循環" %><span class="indispensable">必須</span><br />
      <%= f.text_area :circulation, placeholder: "脈拍 浅く速い" %>
    </div>

    <div class="field">
      <%= f.label "D:意識" %><span class="indispensable">必須</span><br />
      <%= f.text_area :dysfunction_cns, placeholder: "JCS:Ⅱ-30" %>
    </div>

    <div class="field">
      <%= f.label "E:体表" %><br />
      <%= f.text_area :exposure, placeholder: "発疹－ 熱感＋" %>
    </div>
  </div>
    
  <div class='info-form'>
    <div class="field">
      <div class='copy-form'>
        <div><%= f.label "院内の経過" %><span class="indispensable">必須</span><br /></div>

        <div><button type="button" onclick="cp()">VS コピー</button>
        <input id="copy" type="text" value=
        " 後のバイタルサイン  RR:  SpO2: %  HR:  BP: / mmHg  ECG:  JCS:  MMT:" readonly></div>
        <script>
        function cp(){
          var txt = document.getElementById("copy");
          txt.select();
          document.execCommand("Copy");
        }
        </script>
      </div>
      <%= f.text_area :story, placeholder: "" %>
    </div>

    <div class="field">
      <%= f.label "評価項目" %><span class="indispensable">必須</span><br />
      <%= f.text_area :point, placeholder: "" %>
    </div>
  <div>

    <div class="image-field">
      <div class="click-upload">
        <%= f.label "画像所見" %><span class="indispensable">必須</span><br />
        <div id="previews"></div>
        <%= f.file_field :images, name: 'post[images][]', data: {index: 0} %>
      </div>
    </div>
    
</div>