<div class='post-show'>
  <div class='show-header'>
    <%= post.name %> （<%= post.age %>）
    <%= Sex.find(post.sex_id).name %>
  </div>

  <div class='show-main'>
    <div class='post-images'>
      <%= link_to image_tag("ハートの心電図のアイコン素材 2.png",  class:"image-icon"), post.images[0] if post.images.attached? %>
      <%= link_to image_tag("骸骨の無料アイコン19.png",           class:"image-icon"), post.images[1] if post.images.attached? %>
      <%= link_to image_tag("献血の無料アイコン3.png",            class:"image-icon"), post.images[2] if post.images.attached? %>
      <%= link_to image_tag("ノロウィルスアイコン.png",           class:"image-icon"), post.images[3] if post.images.attached? %>
      <%= link_to image_tag("電波のアイコン.png",                class:"image-icon"), post.images[4] if post.images.attached? %>
    </div>
  </div>

    <div class='post-info'>
      <div class='AMPLER'>
        A) <%= post.allergy %><br/>
        M) <%= post.medicine %><br/>
        P) <%= post.past_history %><br/>
        L) <%= post.last_meal %><br/>
        R) <%= post.risk_factor %><br/>
        &) <%= post.others %><br/>
        <%#イニシャルで表している箇所はすべて適当なアイコンを表示%>
      </div>
    </div>

    <div class='post-story'>
      <%= post.symptom%><br/>
      <%= post.event %><br/>
      <div class='ABCDE'>
        <%= post.airway %><br/>
        <%= post.breathing %><br/>
        <%= post.circulation %><br/>
        <%= post.dysfunction_cns %><br/>
        <%= post.exposure %>
      </div>
      <%= simple_format(post.story) %>
    </div>

    <div class='post-point'>
      <%= simple_format(post.point) %>
    </div>
  </div>
</div>