<div class='main-body'>
  <%= render "shared/side_header" %>  
  
  <%= form_with model: @post, url: post_path, class: 'post-new-main', id: 'new_post', local: true do |f| %>
    
    <%= render partial: "shared/form", locals: { f: f } %>
    
    <div class='form-end'>
      <div class="btn-contents">
        <%= f.submit "変更する" %><br/><br/>
        ※画像を編集する際は すべて選びなおしてください<br/>
        　編集しなければ データは失われません

      </div>
      <%= render "shared/error_messages", model: f.object %>
    </div>
  <% end %>
  
</div>