<h1>Posts#index</h1>
<p>Find me in app/views/post/index.html.erb</p>
<ul class='lists-right'>
  <% if user_signed_in? %>
    <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> </li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "logout"  %></li>
  <% else %>
    <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
  <% end %>
</ul>

<%= link_to 'シナリオを作成する', new_post_path, class: "new-post" %>

<div class='post-index'>
  <ul class='post-lists'>
    <% @post.each do |post| %>
      <li>
        <%= post.title %>
        <%= post.symptom %>
        <%= post.age %>歳
        <%= Sex.find(post.sex_id).name %>
        作成者：<%= post.user.nickname %>
      </li>

    <% end %>
  </ul>
</div>