<div class='main-body'>
  <%= render "shared/side_header" %>

  <%= form_with model: @post, url: posts_path, class: 'post-new-main', id: 'new_post', local: true do |f| %>
    
    <%= render partial: "shared/form", locals: { f: f } %>

    <div class='form-end'>
      <div class="btn-contents">
        <%= f.submit "投稿する" %><br/>
        一時保存する場合はカテゴリーを「下書き」とし、必須項目に適当な文字を記入してください。
      </div>
      <%= render "shared/error_messages", model: f.object %>
    </div>
  <% end %>
  
</div>