<h1>Posts#new</h1>
<%= form_with model: @post, url: posts_path, class: 'post-new-main', local: true do |f| %>
  <%= render "shared/error_messages", model: f.object %>

  <div class="field">
    <%= f.label "タイトル" %><span class="indispensable">必須</span><br />
    <%= f.text_area :title, placeholder: "胸痛の鑑別" %>
  </div>

  <div class="field">
    <%= f.label "疾患名" %><span class="indispensable">必須</span><br />
    <%= f.text_area :disease, placeholder: "心筋梗塞" %>
  </div>

  <div class="field">
    <%= f.label "患者名" %><span class="indispensable">必須</span><br />
    <%= f.text_area :name, placeholder: "山田 太郎" %>
  </div>
  
  <div class="field">
    <%= f.label "年齢" %><span class="indispensable">必須</span><br />
    <%= f.text_field :age, placeholder: "0～100" %>
  </div>

  <div class="field">
    <%= f.label "性別" %><span class="indispensable">必須</span><br />
    <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select-box"}) %>
  </div>

  <div class="field">
    <%= f.label "同乗者/キーパーソン" %><span class="indispensable">必須</span><br />
    <%= f.text_area :family, placeholder: "同乗：友人　key:長男" %>
  </div>

  <div class="field">
    <%= f.label "A:気道" %><span class="indispensable">必須</span><br />
    <%= f.text_area :airway, placeholder: "○ 発語あり" %>
  </div>

  <div class="field">
    <%= f.label "B:呼吸" %><span class="indispensable">必須</span><br />
    <%= f.text_area :breathing, placeholder: "○ 正常" %>
  </div>

  <div class="field">
    <%= f.label "C:循環" %><span class="indispensable">必須</span><br />
    <%= f.text_area :circulation, placeholder: "× 浅く速い" %>
  </div>

  <div class="field">
    <%= f.label "D:意識" %><span class="indispensable">必須</span><br />
    <%= f.text_area :dysfunction_cns, placeholder: "JCS:Ⅱ-30 GCS E3V2M5" %>
  </div>

  <div class="field">
    <%= f.label "E:体表" %><br />
    <%= f.text_area :exposure, placeholder: "発疹－ 熱感＋" %>
  </div>

  <div class="field">
    <%= f.label "主訴" %><span class="indispensable">必須</span><br />
    <%= f.text_area :symptom, placeholder: "胸が痛い" %>
  </div>

  <div class="field">
    <%= f.label "アレルギー" %><span class="indispensable">必須</span><br />
    <%= f.text_area :allergy, placeholder: "エビ 花粉 イソジン" %>
  </div>

  <div class="field">
    <%= f.label "服薬歴" %><span class="indispensable">必須</span><br />
    <%= f.text_area :medicine, placeholder: "カンデサルタン ロスバスタチン" %>
  </div>

  <div class="field">
    <%= f.label "既往歴" %><span class="indispensable">必須</span><br />
    <%= f.text_area :past_history, placeholder: "心不全" %>
  </div>

  <div class="field">
    <%= f.label "最終飲食" %><span class="indispensable">必須</span><br />
    <%= f.text_area :last_meal, placeholder: "うどん 12時" %>
  </div>

  <div class="field">
    <%= f.label "現病歴" %><span class="indispensable">必須</span><br />
    <%= f.text_area :event, placeholder: "買い物に出かける直前" %>
  </div>

  <div class="field">
    <%= f.label "危険因子" %><span class="indispensable">必須</span><br />
    <%= f.text_area :risk_factor, placeholder: "タバコ×20本/日" %>
  </div>

  <div class="field">
    <%= f.label "その他" %><br />
    <%= f.text_area :others, placeholder: "補足情報" %>
  </div>

  <div class="field">
    <%= f.label "院内の経過" %><span class="indispensable">必須</span><br />
    <%= f.text_area :story, placeholder: "" %>
  </div>

  <div class="field">
    <%= f.label "評価項目" %><span class="indispensable">必須</span><br />
    <%= f.text_area :point, placeholder: "" %>
  </div>

  <div class="field">
    <%= f.label "クリックして画像ファイルをアップロード" %><br />
    <%= f.file_field :image, id:"item-image" %>
  </div>

   <div class="sell-btn-contents">
    <%= f.submit "投稿する" ,class:"post-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
<% end %>