<div class='main-body'>
  <%= render "shared/side_header" %>
  
  <%= render "shared/menus/post_index"%>
  
  <div class='main'>
   <%= render "shared/top_header/login" %>

    <div class='post-index'>
      <div class='top-page-image'>
        <%= image_tag("top-image.png", class: "top-image") %>
      </div>
      <ul class='post-lists'>

        <% if @posts_by_title.present? %>
          <% @posts_by_title.each do |post| %>
            <li class='post-list'>
              <%= link_to post_path(post) do %>
                <%= post.symptom %>
                <%= Title.find(post.title_id).name %> 
              <% end %>
              <div>
                <%= post.age %>歳 
                <%= Sex.find(post.sex_id).name %>　　　　　
              </div>
              <%= post.user.nickname %>
              <div id="like-btn<%= post.id %>">
                <%= render partial: "likes/like", locals: { post: post } %>
              </div>
            </li>
          <% end %>

        <% else %>
          <% @posts_by_keyword.each do |post| %>
            <li class='post-list'>
              <%= link_to post_path(post) do %>
                <%= post.symptom %>
                <%= Title.find(post.title_id).name %> 
              <% end %>
              <div>
                <%= post.age %>歳 
                <%= Sex.find(post.sex_id).name %>　　　　　
              </div>
              <%= post.user.nickname %>
              <div id="like-btn<%= post.id %>">
                <%= render partial: "likes/like", locals: { post: post } %>
              </div>
            </li>
          <% end %>
        <% end %>

      </ul>
    </div>
    <%= render "shared/footer"%>
  </div>
</div>

<script src="https://unpkg.com/scrollreveal"></script>
<script>
  ScrollReveal({ 
    reset: false, 
    distance: "10px",
    duration: 1000,
    delay: 100,
    });
  ScrollReveal().reveal('.top-image', { delay: 200, origin: "bottom" });
</script>