<div class='main-body'>
  <%= render partial: "shared/side_header/post_show", locals: { post: @post } %>
  
  <div class='menus'>
    <%= render partial: "shared/menus/post_show", locals: { post: @post } %>
  </div>
  
  <div class='main'>
    <%= render partial: "shared/top_header/pt_name", locals: { post: @post } %>

    <div class='post-show'>
      <div class='post-info'>
       <%= render partial: 'shared/scenario', locals: { post: @post } %>
      </div>
      <div class='comment-index'>
        <ul class='comment-lists'>
          <% @comment.each do |comment| %>
            <li class='comment-list'>
              <%= link_to post_comment_path(@post, comment) do %>
                実施：<%= comment.created_at.strftime('%Y/%m/%d')  %>
              <% end %>
              <%= comment.user.nickname %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= render "shared/footer"%>
  </div>
</div>