<h1>Posts#show</h1>

  <%= render partial: "shared/scenario", locals: { post: @post } %>

<div>
  <% if user_signed_in? %> 
    <%= link_to "シナリオを実施する", post_comments_path(@post) %><br/>
    <% if current_user.id == @post.user_id %>
      <%= link_to "シナリオの編集", edit_post_path(@post) %>
      <%= link_to "シナリオの削除", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "シナリオを削除しますか？"} %>
    <% else %>
      <%= "シナリオを添削する" %>
    <% end %>
  <% end %>
</div>


<%=link_to 'もどる', root_path, class:"back-btn" %>
